<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Welcome</h1>
  <p class="lead">A simple App where users can select a place to visit</p>
  <div class="align-items-center">
    <a class="btn" href="/auth/signup" role="button" style="background-color: rgb(242, 191, 64);">Register</a>
  </div>
</div>